.container{
    width: 1820px;
    margin: 0 auto;
}
.header-container{
    background: rgba(16, 144, 216, 0.1);
    border-radius: 8px;
}
.custom-bg{
    background-color: #1090D8 !important;
}

.claculated_data_wrapper {
    position: sticky;
    top: 5%;
    right: 0%;
}
.shape-container{
    padding-top: 50px;
    border-radius: 8px;
}
li{
    /* display: none !important; */
}
/* li{
    counter-reset: section;
}
li::before {
    counter-increment: section; 
    content: "Section " counter(section) ": ";
  } */